@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

* {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    color: black

}
body{
    margin:2rem 15rem 2rem 15em;
    background-color: white;
    z-index: 3;
    
}

body, html,#root{
    height: 100%;
}
button{
    color: black;

}
.footer{
    border-bottom: 2px solid lightgray;
    flex-grow: 1;
}
  
