.prof button{
    background-color: transparent;
    cursor: pointer;
    border: none;
  
}
.prof button img{
    width: 3rem;
    border-radius: 30px;
    cursor: pointer;
}

.email{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}