.home_page_icon img{
    width: 200px;
}

.home_page_header{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.home_page_login{
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    
}

.home_page_login button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: large;
    font-family: 'Montserrat', sans-serif
}

.join{
    border: 1px solid white;
    border-radius: 5px;
    width: 45px;
    height: 23px;
}

.join button:hover{
    background-color:white;
    color: black;
    
}

#background_img{
    animation: changeBg 1s infinite; min-height: 70rem; min-width: 90rem; 
    position: absolute;
    margin: -30px 0 0 -240px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    animation: animateSectionBackground infinite 40s;
    object-fit: cover;
    opacity: 0.8;

  }
  
  @keyframes animateSectionBackground {
    00%,100% { background-image: url(../../../assets/images/image1.jpg); }
    25% { background-image: url(../../../assets/images/image2.jpg); }
    50% { background-image: url(../../../assets/images/image4.jpg); }
    75% { background-image: url(../../../assets/images/image5.jpg); }

   
  }
  .home-page_container{
      position: relative;
  }



  .become_a_tutor{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    top: 400px;

  }
  
  .become_a_tutor span {
    position: relative; 
  
    color: white;

  }
  
  .become_a_tutor:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: white;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .become_a_tutor:hover:after {
      color: white;
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  .become_a_tutor:hover >span{
      color: black;
      z-index: 1;
  }
  .title{
      position: absolute;
      color: white;
      top: 20rem;

  }
  .sub_title{
      position: absolute;
      color: white;
      top: 27rem;
  }

  .button_style{
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.button_style {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(2, 2, 2), rgb(10, 10, 10))
}

.button_style:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}