.service_detail{
  border: 1px solid black;
  color: black;
  font-style: none;
  text-decoration: none;
  width: 15rem;

}

.service_container{
   display: flex;
  flex-direction: column;
  text-decoration: none;
}

.service_page_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  
}

.favorite_price{
  display: flex;
  width: 10rem;
  align-items: center;
  padding: 5px 5px 5px;
  width: 100%;
  justify-content: space-around;
}

.service_image img{
  width: 15rem;
  height: 10rem;
}

.tutor_info img{
  width: 2rem;
}

.tutor_info #details{
  display: flex;
  align-items: center;
  width: 120px;
  padding: 14px 5px 5px;
}

#subject_info{
  padding: 14px 5px 5px;
}

#title{
  padding: 10px 5px 5px;
}