.service_detail{
  border: 1px solid lightgray;
  color: black;
  font-style: none;
  text-decoration: none;
  width: 15rem;

}

.service_container{
   display: flex;
  flex-direction: column;
  text-decoration: none;

}

.service_page_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  
}

.favorite_price{
 
  padding: 5px 5px 5px;

}

.service_image img{
  width: 15rem;
  height: 10rem;
}

.tutor_info img{
  width: 2rem;
}

.tutor_info #details{
  display: flex;
  align-items: center;
  width: 120px;
}

#subject_info{
  padding: 14px 5px 5px;
}

#title{
  padding: 10px 5px 5px;
}
#prof_image{
  padding: 5px 5px 5px 5px;
}

.service_banner img{
  margin-top: 1%;
  width: 200rem;
  height: 30rem;
  object-fit: cover;
}
.service_banner{
  position: relative;
}

.banner_title_1{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100px;
  font-size: 80px;
}

.banner_title_2{
  position: absolute;
  bottom: 12rem;
  font-style: normal
}
.banner_info{
  display: flex;
  justify-content: center;
  color: white;
}

.banner_info h1{
  color: white;

}
.banner_info h3{
  color: white;

}

.service_banner button{
  position: absolute;
  bottom: 7rem;
  color: black;
}



.banner_btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.banner_btn span {
  position: relative; 
  z-index: 1;
  color: white

}



.banner_btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.banner_btn:hover:after {
  
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.banner_btn:hover >span{
  color: black;
}

::-webkit-scrollbar{
display: none;
}

.carousel {
 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}