.create_service_container{
   position: relative;

}

.create_service_container label{
    padding-left: 10px;
}

.create_service_info input{
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #c5c6c9;
    border-radius: 4px;
    box-shadow: none;
    font: inherit;
    color: #404145;
    border-radius: 10px;
}

.description_container input{
    padding: 0;
    width: 30rem;
    height: 10rem;
    
}

.price_container input{
    width: 100px;
}
.create_service_info form{
  
    border: 1px solid #c5c6c9;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f1f1f1 0%, #f0f0f0 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 40rem;

}

.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn span {
    position: relative; 
    z-index: 1;
    color: white;

  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: white;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
      color: white;
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  .btn:hover >span{
      color: black;
  }